@import 'reset.css';
@import 'utils.css';
@import 'layout.css';

:root {
  --text-xxs: 10px;
  --text-xs: 14px;
  --text-s: 16px;
  --text: 18px;
  --text-m: 20px;
  --text-l: 24px;
  --text-xl: 36px;
  --text-xxl: 40px;

  --outline-size: 2px;
  --outline-style: solid;
  --outline-color: var(--accent);

  --z-foundation: 1;
  --z-surface: 2;
  --z-raised: 3;
  --z-overlay: 4;
  --z-important: 999;

  --radius-s: 5px;
  --radius: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-full: 999px;

  color-scheme: light dark;
  accent-color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-diatype-plus);
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: clamp(14px, 1.11vw, 18px);
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
  min-height: 100dvh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

*::selection {
  color: var(--bg-color);
  background-color: var(--text-color);
}

:is(a, button, input, textarea, summary) {
  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
  }
}

.link {
  color: inherit;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.prose {
  letter-spacing: var(--letter-spacing, 0);

  &:not(:last-child) {
    margin-bottom: var(--gutter-s, 1rem);
  }
}
